#Header {
  backdrop-filter: blur(50px);
  margin: 0px;
  max-width: 100%;
  height: 3rem;
}

#Header a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-family: 'Roboto Flex';
}

#Banner {
  background: rgb(81, 109, 255);
  background: linear-gradient(180deg, rgba(81, 109, 255, 1) 34%, rgba(167, 62, 217, 1) 68%, rgba(212, 36, 194, 1) 88%);
  width: 100%;
  height: 80%;
  margin: 0px;
  max-width: 100%;
  padding-top: 3rem;
}

#Hero {
  background-color: #080624;
  width: 100%;
  max-width: 100%;
  margin: 0%;
  padding: 2rem;
  text-align: center;
}

#Line {
  height: 2px;
  background-color: #9124D4;
  width: 80%;
}

#Skills {
  background-color: #080624;
  margin: 0%;
}

.skillsItem {
  padding: 2rem;
}

.eclipse {
  background-color: #383254;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillSection {
  background-color: #160B41;
  width: 80%;
  height: auto;
  border-radius: 5px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.skillSection:hover {
  box-shadow: 0px 0px 30px 1px #A73ED9;
}

#proyects {
  height: 200px;
  background: #160B41;
  border-radius: 5px 30px;
}

#proyects img {
  width: 100%;
  height: 100%;
  border-radius: 5px 30px;
}

#proyectsTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 30px;
  background: rgba(212, 36, 194, 0.28);
  color: #f5f2f2;
}

#cvBox {
  width: 22rem;
  height: 200px;
  background: #160B41;
  border-radius: 5px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cvBox:hover {
  background: linear-gradient(180deg, rgba(81, 109, 255, 1) 34%, rgba(167, 62, 217, 1) 68%, rgba(212, 36, 194, 1) 88%);
}

#Contact {
  padding: 3rem;
}

#contactBox {
  width: 600px;
  height: 300px;
  left: 340px;
  top: 3832px;
  background: #160B41;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactBox:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px 1px #A73ED9;
}

#contacTxt {
  font-family: 'Roboto Flex';
  background: linear-gradient(180deg, #516DFF 6.77%, #A73ED9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.modal-header__bg {
  color: #fff;
}

.modal-content {
  background-color: #7F5AF0 !important;
}

.modal-header__bg,
.modal-footer__bg,
.modal-bg {
  background-color: #080624 !important;
  border: none !important;
  border-left: 2px solid #9124D4 !important;
  border-right: 2px solid #9124D4 !important;
}

.modal-header__bg {
  border-top: 2px solid #9124D4 !important;
}

.modal-footer__bg {
  border-bottom: 2px solid #9124D4 !important;
}

input,
textarea {
  background-color: #160B41 !important;
  border: none !important;
  color: #fff;
}

/* Modal tittles */
.form-label {
  color: #fff;
}

#modal-tittle-main {
  color: #9124D4;
  font-size: 30px;
}

.modal-header__bg {
  margin-bottom: -1rem;
}

.btn-close {
  opacity: 1 !important;
}

.form-control {
  color: rgb(158, 158, 158) !important;
}

/* Modal buttons */
.Modal-send__but {
  width: 140px;
  background-color: #9124D4 !important;
  border: none !important;
  margin-bottom: 0.6rem !important;
}

#Footer {
  background-color: #7F5AF0;
  max-width: 100%;
  width: 100%;
}

#Footer img {
  height: 2rem;
  margin: 2px;
}